page {
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}
.page-container {
	width: 100%;
	height: 100%;
	position: relative;
}
.relative {
	position: relative;
}

.page-icon-color {
	color: #ff9700;
}
.zy-list {
	margin-top: 15px;
	width: 100%;
}
.zy-title {
	box-sizing: border-box;
	padding: 0 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.more {
		border: 1px solid rgb(233, 233, 223);
		border-radius: 25px;
		color: #666;
		padding: 3px 8px;
		font-size: 26rpx;
	}
	.icon-left-title {
		margin-left: 2px;
		color: #000;
		font-size: 30rpx;
	}
	.icon-right-title {
		margin-right: 2px;
		color: #000;
		font-size: 30rpx;
	}
}
.title-wrapper {
	font-size: 34rpx;
	font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: #303030;
}

.searchTitle {
	padding: 0 0 6px 0 !important;
	border-bottom: 1upx solid rgba(0, 0, 0, 0.1);
	.title-wrapper {
		font-size: 28rpx;
	}
}

.mask {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	.album-cover {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		filter: blur(100rpx);
	}
	.cover-mask {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
	}
}

.list-description {
	width: 100%;
	height: 35%;
	position: relative;
	.description-wrapper {
		height: calc(100% - 60px);
		box-sizing: border-box;
		padding: 25px;
		.images {
			width: 240rpx;
			height: 240rpx;
			border-radius: 8px;
		}
		.text {
			width: calc(100% - 275rpx);
			margin-left: 35rpx;
			display: inline-block;
			vertical-align: top;
			.title {
				font-size: 32rpx;
				color: #fff;
			}
			.content {
				margin: 13px 0;
				color: #fff;
				.avatar {
					width: 25px;
					height: 25px;
					border-radius: 50%;
					display: inline-block;
					vertical-align: middle;
					margin-right: 6px;
				}
			}
			.description {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 100%;
				color: #c0c0c0;
			}
		}
	}
}

.music-all-list {
	margin-top: 35rpx;
	padding: 0 20px;
	height: calc(65% - 35rpx);
	box-sizing: border-box;
	&.hasControl{
		height: calc(65% - 145rpx);
	}
	.music-title {
		.playIcon {
			margin-right: 15px;
			font-size: 40rpx;
			color: #ff9700;
			vertical-align: middle;
		}
	}
	.music-item {
		border-bottom: 1upx solid rgba(0, 0, 0, 0.1);
		padding-bottom: 10px;
		margin-top: 15px;
		color: rgb(133, 133, 133);
		align-items: center;
		.index {
			display: inline-block;
			width: 60rpx;
		}
		.musicImg {
			width: 75rpx;
			height: 75rpx;
			border-radius: 6px;
			margin-right: 25rpx;
		}
		.rightInfo {
			width: calc(100% - 160rpx);
		}
		.music-info {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 90%;
		}
	}
}
.loading {
	text-align: center;
	margin-top: 10px;
}
