page {
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}
.bg-white {
	background-color: #fff;
}
.page-background {
	background-color: rgb(247, 247, 249);
}
.basic-icon-color {
	color: rgb(248, 78, 81);
}
.basic-weight-color {
	color: #000;
}

.tabbar {
	.tabbar-text-color {
		color: #7a7e83;
	}
	.tabbar-text-active-color {
		color: rgb(248, 78, 81);
	}
}

.text-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.page-container {
	width: 100%;
	height: 100%;
	position: relative;
}
.relative {
	position: relative;
}



.loading {
	text-align: center;
	margin-top: 10px;
}
